.elementor-23 .elementor-element.elementor-element-8391c4>.elementor-container {
    max-width: 1170px;
    min-height: 200px;
}

.elementor-23 .elementor-element.elementor-element-15d1719f>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-23 .elementor-element.elementor-element-15d1719f>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-23 .elementor-element.elementor-element-78560b66 {
    margin-top: 10px;
    margin-bottom: 0px;
    padding: 0px 15px 0px 15px;
}

.elementor-23 .elementor-element.elementor-element-73d81aa6>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-23 .elementor-element.elementor-element-73d81aa6>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-23 .elementor-element.elementor-element-78d2385b {
    text-align: left;
    width: auto;
    max-width: auto;
}

.elementor-23 .elementor-element.elementor-element-78d2385b img {
    width: 558px;
}

.elementor-23 .elementor-element.elementor-element-385df036.elementor-column>.elementor-widget-wrap {
    justify-content: flex-end;
}

.elementor-23 .elementor-element.elementor-element-385df036>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-23 .elementor-element.elementor-element-385df036>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-23 .elementor-element.elementor-element-1e0a2df4 {
    text-align: right;
    width: auto;
    max-width: auto;
}

.elementor-23 .elementor-element.elementor-element-1e0a2df4 img {
    width: 77px;
}

.elementor-23 .elementor-element.elementor-element-1e0a2df4>.elementor-widget-container {
    padding: 0px 8px 0px 0px;
}

.elementor-23 .elementor-element.elementor-element-312e5f49>.elementor-container {
    max-width: 1170px;
}

.elementor-23 .elementor-element.elementor-element-312e5f49>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-23 .elementor-element.elementor-element-312e5f49 {
    padding: 25px 0px 0px 0px;
}

.elementor-23 .elementor-element.elementor-element-61944aa>.elementor-element-populated {
    padding: 5px 0px 0px 0px;
}

.elementor-23 .elementor-element.elementor-element-a803425 {
    text-align: left;
}

.elementor-23 .elementor-element.elementor-element-4c6aae62>.elementor-element-populated {
    padding: 5px 0px 0px 010px;
}

.elementor-23 .elementor-element.elementor-element-e45025c {
    text-align: left;
}

.elementor-23 .elementor-element.elementor-element-6dc5166f>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-23 .elementor-element.elementor-element-9f91d6b .elementor-menu-toggle {
    margin-right: auto;
}

.elementor-23 .elementor-element.elementor-element-9f91d6b .elementor-nav-menu .elementor-item {
    font-family: "Ubuntu", Sans-serif;
    font-size: 12.5px;
    font-weight: 400;
}

.elementor-23 .elementor-element.elementor-element-9f91d6b .elementor-nav-menu--main .elementor-item {
    color: #707070;
    fill: #707070;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.elementor-23 .elementor-element.elementor-element-9f91d6b .elementor-nav-menu--main .elementor-item:hover,
.elementor-23 .elementor-element.elementor-element-9f91d6b .elementor-nav-menu--main .elementor-item.elementor-item-active,
.elementor-23 .elementor-element.elementor-element-9f91d6b .elementor-nav-menu--main .elementor-item.highlighted,
.elementor-23 .elementor-element.elementor-element-9f91d6b .elementor-nav-menu--main .elementor-item:focus {
    color: #B68A35;
    fill: #B68A35;
}

.elementor-23 .elementor-element.elementor-element-9f91d6b .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:before,
.elementor-23 .elementor-element.elementor-element-9f91d6b .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:after {
    background-color: #61CE7000;
}

.elementor-23 .elementor-element.elementor-element-9f91d6b .e--pointer-framed .elementor-item:before,
.elementor-23 .elementor-element.elementor-element-9f91d6b .e--pointer-framed .elementor-item:after {
    border-color: #61CE7000;
}

.elementor-23 .elementor-element.elementor-element-9f91d6b .elementor-nav-menu--main .elementor-item.elementor-item-active {
    color: #B68A35;
}

.elementor-23 .elementor-element.elementor-element-9f91d6b {
    --e-nav-menu-horizontal-menu-item-margin: calc( 0px / 2);
}

.elementor-23 .elementor-element.elementor-element-9f91d6b .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal) .elementor-nav-menu>li:not(:last-child) {
    margin-bottom: 0px;
}

.elementor-23 .elementor-element.elementor-element-9f91d6b .elementor-nav-menu--dropdown a,
.elementor-23 .elementor-element.elementor-element-9f91d6b .elementor-menu-toggle {
    color: #B68A35;
}

.elementor-23 .elementor-element.elementor-element-9f91d6b .elementor-nav-menu--dropdown a:hover,
.elementor-23 .elementor-element.elementor-element-9f91d6b .elementor-nav-menu--dropdown a.elementor-item-active,
.elementor-23 .elementor-element.elementor-element-9f91d6b .elementor-nav-menu--dropdown a.highlighted {
    background-color: #E8E8E8;
}

.elementor-23 .elementor-element.elementor-element-9f91d6b .elementor-nav-menu--dropdown .elementor-item,
.elementor-23 .elementor-element.elementor-element-9f91d6b .elementor-nav-menu--dropdown .elementor-sub-item {
    font-family: "Roboto", Sans-serif;
    font-size: 12.5px;
    font-weight: 400;
}

.elementor-23 .elementor-element.elementor-element-9f91d6b>.elementor-widget-container {
    margin: 0px 0px -10px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-23 .elementor-element.elementor-element-7b90cad5>.elementor-element-populated {
    padding: 7px 0px 0px 0px;
}

.elementor-23 .elementor-element.elementor-element-5fe675f .elementor-button .elementor-align-icon-right {
    margin-left: 5px;
}

.elementor-23 .elementor-element.elementor-element-5fe675f .elementor-button .elementor-align-icon-left {
    margin-right: 5px;
}

.elementor-23 .elementor-element.elementor-element-5fe675f .elementor-button {
    font-family: "Ubuntu", Sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    fill: #C8974CB3;
    color: #C8974CB3;
    background-color: #61CE7000;
    border-radius: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-23 .elementor-element.elementor-element-0fee25a>.elementor-element-populated {
    padding: 7px 0px 0px 0px;
}

.elementor-23 .elementor-element.elementor-element-25c3532 .elementor-button .elementor-align-icon-right {
    margin-left: 5px;
}

.elementor-23 .elementor-element.elementor-element-25c3532 .elementor-button .elementor-align-icon-left {
    margin-right: 5px;
}

.elementor-23 .elementor-element.elementor-element-25c3532 .elementor-button {
    font-family: "Ubuntu", Sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    fill: #C8974CB3;
    color: #C8974CB3;
    background-color: #61CE7000;
    border-style: solid;
    border-width: 0px 2px 0px 2px;
    border-color: #B68A35;
    border-radius: 0px 0px 0px 0px;
    padding: 0px 15px 0px 15px;
}

.elementor-23 .elementor-element.elementor-element-4aeee4c>.elementor-element-populated {
    padding: 7px 0px 0px 0px;
}

.elementor-23 .elementor-element.elementor-element-c54e454 .elementor-icon-wrapper {
    text-align: center;
}

.elementor-23 .elementor-element.elementor-element-c54e454.elementor-view-stacked .elementor-icon {
    background-color: #C8974CB3;
}

.elementor-23 .elementor-element.elementor-element-c54e454.elementor-view-framed .elementor-icon,
.elementor-23 .elementor-element.elementor-element-c54e454.elementor-view-default .elementor-icon {
    color: #C8974CB3;
    border-color: #C8974CB3;
}

.elementor-23 .elementor-element.elementor-element-c54e454.elementor-view-framed .elementor-icon,
.elementor-23 .elementor-element.elementor-element-c54e454.elementor-view-default .elementor-icon svg {
    fill: #C8974CB3;
}

.elementor-23 .elementor-element.elementor-element-c54e454 .elementor-icon {
    font-size: 12px;
}

.elementor-23 .elementor-element.elementor-element-c54e454>.elementor-widget-container {
    padding: 3px 0px 0px 0px;
}

.elementor-23 .elementor-element.elementor-element-f0cd2cb>.elementor-element-populated {
    padding: 5px 0px 0px 0px;
}

.elementor-23 .elementor-element.elementor-element-b91b7d5 .elementor-button .elementor-align-icon-right {
    margin-left: 5px;
}

.elementor-23 .elementor-element.elementor-element-b91b7d5 .elementor-button .elementor-align-icon-left {
    margin-right: 5px;
}

.elementor-23 .elementor-element.elementor-element-b91b7d5 .elementor-button {
    font-family: "Ubuntu", Sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    fill: #C49230;
    color: #C49230;
    background-color: #F2F2F2;
    border-radius: 05px 05px 05px 05px;
    padding: 5px 10px 5px 10px;
}

@media(min-width:768px) {
    .elementor-23 .elementor-element.elementor-element-73d81aa6 {
        width: 90.579%;
    }
    .elementor-23 .elementor-element.elementor-element-385df036 {
        width: 9.377%;
    }
    .elementor-23 .elementor-element.elementor-element-61944aa {
        width: 2%;
    }
    .elementor-23 .elementor-element.elementor-element-4c6aae62 {
        width: 3%;
    }
    .elementor-23 .elementor-element.elementor-element-6dc5166f {
        width: 62%;
    }
    .elementor-23 .elementor-element.elementor-element-7b90cad5 {
        width: 8%;
    }
    .elementor-23 .elementor-element.elementor-element-0fee25a {
        width: 13%;
    }
    .elementor-23 .elementor-element.elementor-element-4aeee4c {
        width: 3.479%;
    }
    .elementor-23 .elementor-element.elementor-element-f0cd2cb {
        width: 8.225%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-23 .elementor-element.elementor-element-61944aa {
        width: 5%;
    }
    .elementor-23 .elementor-element.elementor-element-4c6aae62 {
        width: 5%;
    }
    .elementor-23 .elementor-element.elementor-element-6dc5166f {
        width: 34%;
    }
    .elementor-23 .elementor-element.elementor-element-7b90cad5 {
        width: 14%;
    }
    .elementor-23 .elementor-element.elementor-element-0fee25a {
        width: 22%;
    }
    .elementor-23 .elementor-element.elementor-element-4aeee4c {
        width: 5%;
    }
    .elementor-23 .elementor-element.elementor-element-f0cd2cb {
        width: 15%;
    }
}

@media(max-width:1024px) {
    .elementor-23 .elementor-element.elementor-element-312e5f49 {
        padding: 0px 20px 0px 20px;
    }
    .elementor-23 .elementor-element.elementor-element-9f91d6b {
        --nav-menu-icon-size: 18px;
    }
    .elementor-23 .elementor-element.elementor-element-9f91d6b>.elementor-widget-container {
        padding: 10px 0px 0px 20px;
    }
}

@media(max-width:767px) {
    .elementor-23 .elementor-element.elementor-element-78560b66 .elementor-column-gap-custom .elementor-column>.elementor-element-populated {
        padding: 4%;
    }
    .elementor-23 .elementor-element.elementor-element-73d81aa6 {
        width: 80%;
    }
    .elementor-23 .elementor-element.elementor-element-73d81aa6>.elementor-element-populated {
        margin: 0% 0% 0% 0%;
        --e-column-margin-right: 0%;
        --e-column-margin-left: 0%;
    }
    .elementor-23 .elementor-element.elementor-element-385df036 {
        width: 19%;
    }
    .elementor-23 .elementor-element.elementor-element-61944aa {
        width: 10%;
    }
    .elementor-23 .elementor-element.elementor-element-4c6aae62 {
        width: 10%;
    }
    .elementor-23 .elementor-element.elementor-element-6dc5166f {
        width: 15%;
    }
    .elementor-23 .elementor-element.elementor-element-9f91d6b>.elementor-widget-container {
        padding: 0px 0px 0px 20px;
    }
    .elementor-23 .elementor-element.elementor-element-7b90cad5 {
        width: 65%;
    }
    .elementor-23 .elementor-element.elementor-element-0fee25a {
        width: 49%;
    }
    .elementor-23 .elementor-element.elementor-element-4aeee4c {
        width: 15%;
    }
    .elementor-23 .elementor-element.elementor-element-f0cd2cb {
        width: 36%;
    }
}