.elementor-496 .elementor-element.elementor-element-0ef4108>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-496 .elementor-element.elementor-element-0ef4108:not(.elementor-motion-effects-element-type-background),
.elementor-496 .elementor-element.elementor-element-0ef4108>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: transparent;
    background-image: linear-gradient(270deg, #BD9542 0%, #D1B165 100%);
}

.elementor-496 .elementor-element.elementor-element-0ef4108 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-496 .elementor-element.elementor-element-0ef4108>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-496 .elementor-element.elementor-element-280f9f9 {
    padding: 0px 0px 0px 0px;
}

.elementor-496 .elementor-element.elementor-element-fd6f37e .elementor-icon-list-icon i {
    color: #966911;
}

.elementor-496 .elementor-element.elementor-element-fd6f37e .elementor-icon-list-icon svg {
    fill: #966911;
}

.elementor-496 .elementor-element.elementor-element-fd6f37e {
    --e-icon-list-icon-size: 38px;
}

.elementor-496 .elementor-element.elementor-element-fd6f37e .elementor-icon-list-text {
    color: #FFFFFF;
}

.elementor-496 .elementor-element.elementor-element-fd6f37e .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-496 .elementor-element.elementor-element-fd6f37e .elementor-icon-list-item>a {
    font-family: "Ubuntu", Sans-serif;
    font-size: 18px;
    font-weight: 600;
}

.elementor-496 .elementor-element.elementor-element-67f1e9a {
    margin-top: 5%;
    margin-bottom: 2%;
}

.elementor-bc-flex-widget .elementor-496 .elementor-element.elementor-element-2079c4d.elementor-column .elementor-widget-wrap {
    align-items: space-between;
}

.elementor-496 .elementor-element.elementor-element-2079c4d.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: space-between;
    align-items: space-between;
}

.elementor-496 .elementor-element.elementor-element-2079c4d.elementor-column>.elementor-widget-wrap {
    justify-content: center;
}

.elementor-496 .elementor-element.elementor-element-2079c4d>.elementor-element-populated {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #F0F0F0;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 20px 20px 0px 20px;
}

.elementor-496 .elementor-element.elementor-element-2079c4d>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-496 .elementor-element.elementor-element-c8323f8 .elementor-heading-title {
    font-family: "Ubuntu", Sans-serif;
    font-weight: 600;
}

.elementor-496 .elementor-element.elementor-element-c8323f8 {
    width: auto;
    max-width: auto;
}

.elementor-496 .elementor-element.elementor-element-b23e320 .elementor-field-group {
    padding-right: calc( 10px/2);
    padding-left: calc( 10px/2);
    margin-bottom: 24px;
}

.elementor-496 .elementor-element.elementor-element-b23e320 .elementor-form-fields-wrapper {
    margin-left: calc( -10px/2);
    margin-right: calc( -10px/2);
    margin-bottom: -24px;
}

.elementor-496 .elementor-element.elementor-element-b23e320 .elementor-field-group.recaptcha_v3-bottomleft,
.elementor-496 .elementor-element.elementor-element-b23e320 .elementor-field-group.recaptcha_v3-bottomright {
    margin-bottom: 0;
}

body.rtl .elementor-496 .elementor-element.elementor-element-b23e320 .elementor-labels-inline .elementor-field-group>label {
    padding-left: 5px;
}

body:not(.rtl) .elementor-496 .elementor-element.elementor-element-b23e320 .elementor-labels-inline .elementor-field-group>label {
    padding-right: 5px;
}

body .elementor-496 .elementor-element.elementor-element-b23e320 .elementor-labels-above .elementor-field-group>label {
    padding-bottom: 5px;
}

.elementor-496 .elementor-element.elementor-element-b23e320 .elementor-field-group>label,
.elementor-496 .elementor-element.elementor-element-b23e320 .elementor-field-subgroup label {
    color: #191919;
}

.elementor-496 .elementor-element.elementor-element-b23e320 .elementor-field-group>label {
    font-family: "Poppins", Sans-serif;
    font-size: 18px;
    font-weight: 500;
}

.elementor-496 .elementor-element.elementor-element-b23e320 .elementor-field-type-html {
    padding-bottom: 0px;
}

.elementor-496 .elementor-element.elementor-element-b23e320 .elementor-field-group:not(.elementor-field-type-upload) .elementor-field:not(.elementor-select-wrapper) {
    background-color: #ffffff;
}

.elementor-496 .elementor-element.elementor-element-b23e320 .elementor-field-group .elementor-select-wrapper select {
    background-color: #ffffff;
}

.elementor-496 .elementor-element.elementor-element-b23e320 .e-form__buttons__wrapper__button-next {
    color: #ffffff;
}

.elementor-496 .elementor-element.elementor-element-b23e320 .elementor-button[type="submit"] {
    color: #ffffff;
}

.elementor-496 .elementor-element.elementor-element-b23e320 .elementor-button[type="submit"] svg * {
    fill: #ffffff;
}

.elementor-496 .elementor-element.elementor-element-b23e320 .e-form__buttons__wrapper__button-previous {
    color: #ffffff;
}

.elementor-496 .elementor-element.elementor-element-b23e320 .e-form__buttons__wrapper__button-next:hover {
    color: #ffffff;
}

.elementor-496 .elementor-element.elementor-element-b23e320 .elementor-button[type="submit"]:hover {
    color: #ffffff;
}

.elementor-496 .elementor-element.elementor-element-b23e320 .elementor-button[type="submit"]:hover svg * {
    fill: #ffffff;
}

.elementor-496 .elementor-element.elementor-element-b23e320 .e-form__buttons__wrapper__button-previous:hover {
    color: #ffffff;
}

.elementor-496 .elementor-element.elementor-element-b23e320 {
    --e-form-steps-indicators-spacing: 20px;
    --e-form-steps-indicator-padding: 30px;
    --e-form-steps-indicator-inactive-secondary-color: #ffffff;
    --e-form-steps-indicator-active-secondary-color: #ffffff;
    --e-form-steps-indicator-completed-secondary-color: #ffffff;
    --e-form-steps-divider-width: 1px;
    --e-form-steps-divider-gap: 10px;
}

.elementor-496 .elementor-element.elementor-element-175c38d {
    margin-top: 0%;
    margin-bottom: 5%;
}

.elementor-bc-flex-widget .elementor-496 .elementor-element.elementor-element-4d202c9.elementor-column .elementor-widget-wrap {
    align-items: space-between;
}

.elementor-496 .elementor-element.elementor-element-4d202c9.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: space-between;
    align-items: space-between;
}

.elementor-496 .elementor-element.elementor-element-4d202c9.elementor-column>.elementor-widget-wrap {
    justify-content: center;
}

.elementor-496 .elementor-element.elementor-element-4d202c9>.elementor-element-populated {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #F0F0F0;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 20px 20px 20px 20px;
}

.elementor-496 .elementor-element.elementor-element-4d202c9>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-496 .elementor-element.elementor-element-4217883 .elementor-heading-title {
    font-family: "Ubuntu", Sans-serif;
    font-weight: 600;
}

.elementor-496 .elementor-element.elementor-element-4217883 {
    width: auto;
    max-width: auto;
}

.elementor-496 .elementor-element.elementor-element-24b3883 .elementor-field-group {
    padding-right: calc( 10px/2);
    padding-left: calc( 10px/2);
    margin-bottom: 24px;
}

.elementor-496 .elementor-element.elementor-element-24b3883 .elementor-form-fields-wrapper {
    margin-left: calc( -10px/2);
    margin-right: calc( -10px/2);
    margin-bottom: -24px;
}

.elementor-496 .elementor-element.elementor-element-24b3883 .elementor-field-group.recaptcha_v3-bottomleft,
.elementor-496 .elementor-element.elementor-element-24b3883 .elementor-field-group.recaptcha_v3-bottomright {
    margin-bottom: 0;
}

body.rtl .elementor-496 .elementor-element.elementor-element-24b3883 .elementor-labels-inline .elementor-field-group>label {
    padding-left: 5px;
}

body:not(.rtl) .elementor-496 .elementor-element.elementor-element-24b3883 .elementor-labels-inline .elementor-field-group>label {
    padding-right: 5px;
}

body .elementor-496 .elementor-element.elementor-element-24b3883 .elementor-labels-above .elementor-field-group>label {
    padding-bottom: 5px;
}

.elementor-496 .elementor-element.elementor-element-24b3883 .elementor-field-group>label,
.elementor-496 .elementor-element.elementor-element-24b3883 .elementor-field-subgroup label {
    color: #191919;
}

.elementor-496 .elementor-element.elementor-element-24b3883 .elementor-field-group>label {
    font-family: "Poppins", Sans-serif;
    font-size: 18px;
    font-weight: 500;
}

.elementor-496 .elementor-element.elementor-element-24b3883 .elementor-field-type-html {
    padding-bottom: 0px;
}

.elementor-496 .elementor-element.elementor-element-24b3883 .elementor-field-group:not(.elementor-field-type-upload) .elementor-field:not(.elementor-select-wrapper) {
    background-color: #ffffff;
}

.elementor-496 .elementor-element.elementor-element-24b3883 .elementor-field-group .elementor-select-wrapper select {
    background-color: #ffffff;
}

.elementor-496 .elementor-element.elementor-element-24b3883 .e-form__buttons__wrapper__button-next {
    color: #ffffff;
}

.elementor-496 .elementor-element.elementor-element-24b3883 .elementor-button[type="submit"] {
    color: #ffffff;
}

.elementor-496 .elementor-element.elementor-element-24b3883 .elementor-button[type="submit"] svg * {
    fill: #ffffff;
}

.elementor-496 .elementor-element.elementor-element-24b3883 .e-form__buttons__wrapper__button-previous {
    color: #ffffff;
}

.elementor-496 .elementor-element.elementor-element-24b3883 .e-form__buttons__wrapper__button-next:hover {
    color: #ffffff;
}

.elementor-496 .elementor-element.elementor-element-24b3883 .elementor-button[type="submit"]:hover {
    color: #ffffff;
}

.elementor-496 .elementor-element.elementor-element-24b3883 .elementor-button[type="submit"]:hover svg * {
    fill: #ffffff;
}

.elementor-496 .elementor-element.elementor-element-24b3883 .e-form__buttons__wrapper__button-previous:hover {
    color: #ffffff;
}

.elementor-496 .elementor-element.elementor-element-24b3883 {
    --e-form-steps-indicators-spacing: 20px;
    --e-form-steps-indicator-padding: 30px;
    --e-form-steps-indicator-inactive-secondary-color: #ffffff;
    --e-form-steps-indicator-active-secondary-color: #ffffff;
    --e-form-steps-indicator-completed-secondary-color: #ffffff;
    --e-form-steps-divider-width: 1px;
    --e-form-steps-divider-gap: 10px;
}

:root {
    --page-title-display: none;
}

/* Start custom CSS for form, class: .elementor-element-b23e320 */

.elementor-496 .elementor-element.elementor-element-b23e320 .elementor-button[type="submit"] {
    display: none !important;
}

/* End custom CSS */

/* Start custom CSS for form, class: .elementor-element-24b3883 */

.elementor-496 .elementor-element.elementor-element-b23e320 .elementor-button[type="submit"] {
    display: none !important;
}

/* End custom CSS */

/* Start custom CSS for html, class: .elementor-element-8e89a0c */

[type=button],
[type=submit],
button {
    display: inline-block;
    font-weight: 400;
    color: white;
    text-align: center;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: linear-gradient(135deg, #D5B66B 0%, #b68a35 100%);
    border: 1px solid #be9644;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    font-family: "Ubuntu", Sans-serif;
    font-size: 12.5px;
    font-weight: 500;
    border-radius: 10px 10px 10px 10px;
    padding: 10px 20px 10px 20px;
}

input[type=date],
input[type=email],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=url],
select,
textarea {
    width: 95%;
    /*border: none*/
    /*background: #ffffff52;*/
    border-radius: 3px;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    margin-bottom: 30px;
}

[type=submit]:hover,
button:focus,
button:hover {
    background-image: linear-gradient(135deg, #D5B66B 0%, #b68a35 100%);
}

p {
    margin: 0px;
}

select#country {
    width: 100%;
}

/* End custom CSS */

/* Start custom CSS for column, class: .elementor-element-4d202c9 */

.elementor-496 .elementor-element.elementor-element-24b3883 .elementor-button[type="submit"] {
    display: none !important;
}

/* End custom CSS */